@font-face {
    font-family: 'jenna_sueregular';
    src: url('JennaSue-webfont.eot');
    src: url('JennaSue-webfont.eot?#iefix') format('embedded-opentype'),
         url('JennaSue-webfont.woff') format('woff'),
         url('JennaSue-webfont.ttf') format('truetype'),
         url('JennaSue-webfont.svg#jenna_sueregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.body-container {
	background:url("images/headerbackground.jpg") fixed center center no-repeat;
	width:100%;
}

.jng-header {
	height: 250px;
}

.jng-container {
	background: #d1cbe5;
	opacity:.8;
	width: 100%;
	border-radius: 10px;
}

.jng-container p {

	padding: 10px;
	margin: 15px;
}

.jng-container h1,h3 {
	margin-left:30px;
	margin-top:50px;
	margin-bottom: 10px;
}

.jng-spacer {
	height:50px;
}

.masthead #big-h1{
	padding: 50px;
	font-size: 80px;
}

.masthead.h1 {
	size: 45px;
}